{% extends "base.html" %}

{% block content %}

<section class="banner-area">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center" style="min-height:90vh;">

            <div class="card">

                <div class="card-header">
                    <h3>Set New Password</h3>
                </div>

                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <input 
                            type="password" 
                            name="new_password1"
                            placeholder="New Password">
                        <input 
                            type="password" 
                            name="new_password2"
                            placeholder="Confirm Password">
                        <button type="submit">
                            Change Password
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}