{% extends "base.html" %}

{% block content %}

<section class="banner-area">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center" style="min-height:90vh;">

            <div class="card">

                <div class="card-header">
                    <h3>Email Sent</h3>
                </div>

                <div class="card-body">

                    <p class="text-white">
                        We've emailed you instructions for setting your password.
                    </p>

                    <p class="text-white">
                        If an account exists with the email you entered,
                        you should receive the email shortly.
                    </p>

                    <a href="{% url 'accounts:login' %}"
                       class="btn login_btn btn-block">

                        Back to Login

                    </a>

                </div>

            </div>

        </div>
    </div>
</section>

{% endblock %}