{% load static %}
<div class="single-sidebar-widget post-category-widget">
                  <h4 class="category-title">Post Catgories</h4>
                  <ul class="cat-list">
                    {% for name,count in categories.items %}
                    <li>
                      <a href="{%  url 'blog:category' cat_name=name %}" class="d-flex justify-content-between">
                        <h5>{{name}}</h5>
                        <h6>{{count}}</h6>
                      </a>
                      {% endfor %}
                    </li>
                  </ul>
                </div>